go 1.22.0

use (
	.
	./lambdas/alarm-creator
	./lambdas/alarm-getter
	./lambdas/alarm-deleter
	./lambdas/alarm-executor
	./lambdas/phone-modifer
	./lambdas/phone-verifier
	./lambdas/post-confirmation-trigger
)
